<div class="tree">
  <ul>
    <li><span class="head">Environment</span>
      <ul>
        <li><span class="situation">Situation / Surroundings</span></li>
        <li><span class="subtle">Subtle Elements</span>
          <ul>
            <li><span class="element">Sound: care / agg</span></li>
            <li><span class="element">Smell: pure / rej</span></li>
            <li><span class="element">Taste: aff / host</span></li>
            <li><span class="element">Touch: ease / dis</span></li>
            <li><span class="element">Color: hap / sol</span></li>
          </ul>
        </li>
        <li><span class="silence">Silence</span>
          <ul>
            <li><span class="element">Agreement</span></li>
            <li><span class="element">Rejection</span></li>
            <li><span class="element">Tension</span></li>
            <li><span class="element">Thought</span></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>