<div class="mindmap">
  <svg>
    <!-- Main lines adjusted for symmetry -->
    <line
      x1="50%"
      y1="50%"
      x2="25%"
      y2="25%"
      stroke="green"
      stroke-width="3"
      stroke-dasharray="5,5"
    />
    <line
      x1="50%"
      y1="50%"
      x2="75%"
      y2="25%"
      stroke="orange"
      stroke-width="3"
      stroke-dasharray="5,5"
    />
    <line
      x1="50%"
      y1="50%"
      x2="25%"
      y2="75%"
      stroke="purple"
      stroke-width="3"
      stroke-dasharray="5,5"
    />
    <line
      x1="50%"
      y1="50%"
      x2="75%"
      y2="75%"
      stroke="red"
      stroke-width="3"
      stroke-dasharray="5,5"
    />
  </svg>
  <div class="central">Intention</div>
  <div class="branch gesture">
    <div class="branch-title"><i class="fas fa-hands"></i>1. Gesture</div>
    <div class="subpoint">a. Systematic movements</div>
    <div class="subpoint">b. Nonsystematic movements</div>
    <div class="subpoint">c. Sight</div>
  </div>
  <div class="branch environment">
    <div class="branch-title"><i class="fas fa-globe"></i>2. Environment</div>
    <div class="subpoint">a. Situation/Surroundings</div>
    <div class="subpoint">b. Senses (Indriyas)</div>
    <div class="subpoint">c. Silence</div>
  </div>
  <div class="branch sound">
    <div class="branch-title"><i class="fas fa-volume-up"></i>3. Sound</div>
    <div class="subpoint">a. Language</div>
    <div class="subpoint">b. Music</div>
    <div class="subpoint">c. Literature</div>
  </div>
  <div class="branch symbol">
    <div class="branch-title"><i class="fas fa-hashtag"></i>4. Symbol</div>
    <div class="subpoint">a. Numbers</div>
    <div class="subpoint">b. Shapes</div>
    <div class="subpoint">c. Pictures/Videos</div>
    <div class="subpoint">d. Combination of many</div>
  </div>
</div>
