<div class="tree">
  <ul>
    <li><span class="head">Expression of Bhava Through Body</span>
      <ul>
        <li><span class="systematic">Systematic Movement</span>
          <ul>
            <li><span>Dance</span></li>
            <li><span>Mudras / Gestures</span></li>
            <li><span>Posture</span></li>
            <li><span>Facial Expression</span></li>
            <li><span class="highlight">Standard Communication</span>
              <ul>
                <li><span>Natyashastra</span></li>
                <li><span>Agama</span></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><span class="nonsystematic">Non-systematic Movement</span>
          <ul>
            <li><span>Spontaneous Body Language</span></li>
            <li><span>Daily Posture</span></li>
          </ul>
        </li>
        <li><span class="sight">Sight</span>
          <ul>
            <li><span class="highlight">Gaze / Eyes</span>
              <ul>
                <li><span>Ramayana</span></li>
                <li><span>Mahabharata</span></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>