<div class="tree">
  <ul>
    <li><span class="head">Expression of Bhava through Sound</span>
      <ul>
        <li><span class="linguistic">Linguistic Sound</span>
          <ul>
            <li><span class="element">Natural Lang</span></li>
            <li><span class="element">Sign Lang</span></li>
            <li><span class="element">Prog Lang</span></li>
          </ul>
        </li>
        <li><span class="nonling">Non-Linguistic Sound</span>
          <ul>
            <li><span class="element">Natural Snd</span></li>
            <li><span class="element">Instrument Mus</span></li>
          </ul>
        </li>
        <li><span class="literature">Literature</span>
          <ul>
            <li><span class="element">Artistic Lang</span></li>
            <li><span class="element">Deep Emotions</span></li>
            <li><span class="element">Heart & Atman</span></li>
          </ul>
        </li>
        <li><span class="sangiitam">Sangiitam</span>
          <ul>
            <li><span class="element">Inst + Vocal + Dan</span></li>
            <li><span class="element">Deep Express</span></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>